* {
  margin: 0px;
  font-family: monospace;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
input[type="checkbox"] {
    min-width: 50px;
}

.header {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 200px;
  justify-content: space-evenly;
}
.filter{
  background-color: black;
  /* font-size: 20px; */
  color: white;
}
input {
  min-width: 400px;
  margin: 0px;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  /* background-color: transparent; */
}
.strike{
  text-decoration: line-through;
  color: grey;
}
button {
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  /* background-color: transparent; */
}
h2 {
  padding-bottom: 1rem;
}
h3 {
  padding-bottom: 0.5rem;
}
.todo-list-container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 200px;
  justify-content: center;
}
.single-todo-container {
    max-width: 700px;
  padding: 10px 0px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
.user-input-container {
  display: flex;
  justify-content: space-between;
}


